.App {
  text-align: center;
}

.my-cards {
  overflow-x: scroll;
  min-height: 100px;
  max-width: 100%;
}

.addCardButton {
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
}

#content {
  word-wrap: break-word;
  white-space: normal;
}


.ui.grid > .row.my-card-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

#logos {
  height: 90px;
}

#teamForm {
  margin-left: 45%;
}
#teamSubmit {
  margin-left: 45%;

}

.ui.grid {
  padding: 0px 20px;
}

.card {
  height: 270px;
}

.card-in-all-cards {
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
